* {
	margin: 0;
}
html, body {
	font-family: 'Inconsolata';
}
.aside-menu {
	height: 100vh;
	background-color: #DB504A;
	color: #D7FFF1;
}
.main-content {
	height: 100vh;
	background-color: #BCBABE;
	padding: 0;

}
.component-header {
	background-color: white;
	margin-top: -20px;
	width: 100%;
	height: 8%;
}